.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #4f46e5;
  color: #fff;
  width: 100%;
}

.header__nav {
  display: flex;
  gap: 16px;
}

.header__link {
  color: #e0e7ff;
  text-decoration: none;
  font-size: 15px;
}

.header__link:hover,
.header__link.active {
  color: #fff;
  text-shadow:
    0.4px 0 0 currentColor,
    -0.4px 0 0 currentColor;
}

.header__user {
  display: flex;
  align-items: center;
}

.header__user:before {
  content: "👤";
}
